
.img-social{
 font-size:48px;
 color:black;
 margin-right: 10px;
}

#menu a{
  color: white;

}

#menu a:hover{
  color: white;
  
}

li:hover{
background-color: red;
}

nav{
  background-color: #343A40;
}

#header-color{
  background-color: #343A40;
}
