
.img-social{
 height: 39px;
 margin-right: 2px;

}
.img-social:hover{
  filter : brightness(150%)
}


#menu a{
  color: white;

}

#menu a:hover{
  color: white;
  
}

li:hover{
background-color: red;
}

nav{
  background-color: #343A40;
}

#header-color{
  background-color: #343A40;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

